<ion-header>
  <ion-toolbar>
    <ion-button slot="secondary" href="/perfil">
      <ion-icon slot="icon-only" name="person-circle"></ion-icon>
    </ion-button>
    <ion-item slot="">
      <ion-label position="stacked" id="lugar">Pparty</ion-label>
    </ion-item>
  </ion-toolbar>
  <ion-toolbar>
    <form [formGroup]="formGroup" (ngSubmit)="pesquisar()">
      <ion-item>
        <ion-input placeholder="Pesquise o Titulo da festa" shape="round" type="text"
          class="form-control border-0 shadow-none" formControlName="pesquisa"></ion-input>
      </ion-item>
      <ion-button type="submit" expand="block" color="primary">Search</ion-button>
    </form>
  </ion-toolbar>
</ion-header>


<ion-content>
  <div id="login">
    <form class="card">
      <!-- <img id="back-image" src="assets/images/telas-entrar.jpg"> -->
      <div >
        <div class="card-content-area">
          <ion-toolbar>
            <ion-item>

              <ion-label>Categorias</ion-label>
              <ion-grid>
                <ion-row>
                  <ion-col col-6>
                    <ion-button type="submit" (click)="Grande()" shape="round" fill="outline" color="tertiary"
                      size="small" position="stacked" vertical="top" full> Festa Grande </ion-button>
                  </ion-col>
                  <ion-col col-6>
                    <ion-button type="submit" (click)="Medio()" shape="round" fill="outline" color="tertiary"
                      size="small" position="stacked" full> Festa Media</ion-button>
                  </ion-col>
                </ion-row>
              </ion-grid>
              <ion-grid>
                <ion-row>
                  <ion-col col-6>
                    <ion-button type="submit" (click)="Tematica()" shape="round" fill="outline" color="tertiary"
                      size="small" position="stacked" full> Festa Tematica</ion-button>
                  </ion-col>
                  <ion-col col-6>
                    <ion-button type="submit" (click)="Diurna()" shape="round" fill="outline" color="tertiary"
                      size="small" position="stacked" full> Festa Diurna</ion-button>
                  </ion-col>
                </ion-row>
              </ion-grid>
              <ion-grid>
                <ion-row>
                    <ion-button type="submit" (click)="Todas()" shape="round" fill="outline" color="tertiary" size="small" full> Sem Filtro</ion-button>
                </ion-row>
              </ion-grid>
            </ion-item>
          </ion-toolbar>
        </div>
      </div>
      <div class="card-content">
        <div class="card-content-area">
          <ion-list>
            <ion-item-sliding *ngFor="let festa of festas; index as i">
              <ion-item [routerLink]="['/visualizar-festa/', festa.idFesta]" detail>
                <!-- <ion-thumbnail slot="start">
                  <ion-img alt="Silhouette of mountains" [src]="fotos[i].imagem" />
                </ion-thumbnail> -->
                <ion-label>
                  <h2>
                    {{festa.titulo}}
                  </h2>
                  <p> {{festa.enderecofesta}} </p>
                  <p> {{festa.cardapio}} </p>
                </ion-label>
              </ion-item>
            </ion-item-sliding>
          </ion-list>
        </div>
      </div>
    </form>

  </div>
  <div class="botoes">
    <ion-fab slot="fixed" horizontal="center" vertical="bottom">
      <ion-fab-button>
        <ion-icon name="book-outline"></ion-icon>
      </ion-fab-button>
      <ion-fab-list side="top">
        <ion-fab-button type="submit" (click)="GrandeReport()">
          <ion-icon name="sparkles-outline"></ion-icon>
        </ion-fab-button>
      </ion-fab-list>

      <ion-fab-list side="end">
        <ion-fab-button type="submit" (click)="MedioReport()">
          <ion-icon name="pizza-outline"></ion-icon>
        </ion-fab-button>
      </ion-fab-list>


      <ion-fab-list side="bottom">
        <ion-fab-button type="submit" (click)="DiurnaReport()">
          <ion-icon name="sunny-outline"></ion-icon>
        </ion-fab-button>
      </ion-fab-list>

      <ion-fab-list side="start">
        <ion-fab-button type="submit" (click)="TematicaReport()">
          <ion-icon name="skull-outline"></ion-icon>
        </ion-fab-button>
      </ion-fab-list>
    </ion-fab>

    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
      <ion-fab-button routerLink="/festas-salvas" color="primary">
        <ion-icon name="bookmark-outline"></ion-icon>
      </ion-fab-button>
    </ion-fab>

    <ion-fab vertical="bottom" horizontal="start" slot="fixed">
      <ion-fab-button routerLink="/add-festa" color="primary">
        <ion-icon name="add-outline"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  </div>


</ion-content>