ion-input.custom-input {
    --background: #ffffff;
    --color: #938686;
    --placeholder-color: #ddd;
    --placeholder-opacity: 0.8;
    --padding-bottom: 0px;
    --padding-end: 30px;
    --padding-start: 30px;
    --padding-top: 0px;
    align-self: center;
  }

.datacaralho
{
    margin-top: 10px;

}