body {
  padding: 0;
  margin: 0;
}

ion-input.custom-input {
    --background: #ffffff;
    --color: #938686;
    --placeholder-color: #ddd;
    --placeholder-opacity: 0.8;
    --padding-bottom: 0px;
    --padding-end: 30px;
    --padding-start: 30px;
    --padding-top: 0px;
    align-self: center;
  }

.datacaralho
{
    margin-top: 10px;

}

#tela
{
  display: flex;

  // align-items: center;
  margin-top: 25px;
  
  justify-content: center;

  height: 300vh;

  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.formulario
{
  background-color: rgba(35,87,160, 0.2);

    
  padding: 40px;

  border-radius: 10px;

  height: 510px;
  width:280px;
}

ion-content {
  --background: #rgba(227, 220, 220, 0.3) ;
}

ion-item {
  --background: #rgba(227, 220, 220, 0.3) ;
  --border: #000000;
}

ion-label {
  --color: black;
}

.itens{
  background-color: rgba(35,87,160, 0.2);
  padding: 3px;
  margin: 4px;
  border-radius: 8px;
}