<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defautHref="/festas-salvas"></ion-back-button>
    </ion-buttons>
    <ion-title>Comentar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>


  <form [formGroup]="formGroup" (ngSubmit)="salvar()">

    <ion-item>
      <ion-label position="stacked">Comentario</ion-label>
      <input type="text" class="form-control border-0 shadow-none" formControlName="coment">
    </ion-item>
    <ion-button type="submit" expand="block" color="primary" [disabled]="!formGroup.valid">Salvar</ion-button>

  </form>
</ion-content>
